/* General page styling */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

html {
  scroll-behavior: auto;
}

header {
  color: #333333;
}

p {
  color: #555555;
}

/* Button transition */
a,
.btn {
  transition: all 300ms ease;
}

/* Top navigation tabs */
nav,
.navTabs {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}

.navTabs {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: #333333;
  text-decoration: none;
}

a:hover {
  color: #555555;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: #555555;
}

.name {
  font-size: 2rem;
}

.name:hover {
  cursor: default;
}

/* Mobile navigation tabs */
#navMobile {
  display: none;
}

.navMobileMenu {
  position: relative;
  display: inline-block;
}

.mobileMenuImage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  width: 25px;
  cursor: pointer;
}

.mobileMenuImage span {
  width: 100%;
  height: 2px;
  background-color: #333333;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.menuTabs {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f4f4f4;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.menuTabs a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: #333333;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.menuTabs li {
  list-style: none;
}

.menuTabs.open {
  max-height: 500px;
}

.mobileMenuImage.open span:first-child {
  transform: rotate(45deg) translate(10px, 3px);
}

.mobileMenuImage.open span:nth-child(2) {
  opacity: 0;
}

.mobileMenuImage.open span:last-child {
  transform: rotate(-45deg) translate(10px, -3px);
}

/* Sections */
section {
  padding-top: 5vh;
  padding-bottom: 5vh;
  height: 95vh;
  margin: 0 10rem;
  box-sizing: border-box;
}

.sectionContainer {
  display: flex;
}

/* Profile section */
#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
  margin-top: 2rem;
  padding-bottom: 25vh;
}

.tabText {
  align-self: center;
  text-align: center;
}

.tabText p {
  font-weight: 500;
}

/* When the container becomes visible */
.tabTextP2.visible {
  opacity: 1;
}

/* When the container becomes hidden */
.tabTextP2.hidden {
  opacity: 0;
}

.title {
  font-size: 3rem;
  text-align: center;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.6s ease;
}

/* When the container becomes visible */
.title.visible {
  opacity: 1;
}

#socialsContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* When the container becomes visible */
#socialsContainer.visible {
  opacity: 1;
}

/* When the container becomes hidden */
#socialsContainer.hidden {
  opacity: 0;
}


/* Images */
.image {
  cursor: pointer;
  height: 2rem;
}

.image.scale-hover {
  transition: transform 0.3s ease;
}

.image.scale-hover:hover {
  transform: scale(1.15);
}

/* About section */
#about {
  position: relative;
}

.aboutContainers {
  gap: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.aboutDetailsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.aboutContainers,
.aboutDetailsContainer {
  display: flex;
}

.detailsContainer {
  padding: 1.5rem;
  flex: 1;
  flex-wrap: wrap;
  background: #ffffff;
  border-radius: 2rem;
  border: #dcdcdc 0.1rem solid;
  text-align: center;
  opacity: 0;
  transition: opacity 0.6s ease, transform 0.6s ease;
}

/* Slide-in from the left */
.detailsContainer.left {
  transform: translateX(-100px);
}

/* Slide-in from the right */
.detailsContainer.right {
  transform: translateX(100px);
}

/* Slide-in to the first spot */
.detailsContainer.first {
  transform: translateX(-50px);
}

/* Slide-in to the second spot */
.detailsContainer.second {
  transform: translateX(-75px);
}

/* Slide-in to the third spot */
.detailsContainer.third {
  transform: translateX(-100px);
}

/* When the container becomes visible */
.detailsContainer.visible {
  opacity: 1;
  transform: translateX(0) translateY(0); /* Reset transform to the default position */
}

.sectionContainer {
  gap: 5rem;
  height: 80%;
}

/* Skills section */
#skills {
  position: relative;
}

.skillsSubTitle {
  color: #333333;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.skillsDetailsContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.articleContainer {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

article {
  display: flex;
  width: 12rem;
  justify-content: space-between;
  gap: 0.5rem;
}

article .image {
  cursor: default;
  justify-content: right;
}

.levelContainer {
  justify-content: flex-end;
  gap: 0rem;
}

/* Buttons */
.btnContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 500;
  transition: all 300ms ease;
  padding: 1rem;
  width: 10rem;
  border-radius: 2rem;
}

.btnColor {
  border: #dcdcdc 0.1rem solid;
  background: #ffffff;
  color: #333333;
}

.btn:hover {
  transform: scale(1.1);
}

.btnColor:hover {
  cursor: pointer;
  background: #555555;
  color: #ffffff;
}

/* Projects section */
#projects {
  position: relative;
}

.colorContainer {
  border-color: #dcdcdc;
}

.projectsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: auto;
  align-items: center;
}

.projectTitle {
  margin: 1rem;
  color: #333333;
}

/* Contact Section */
#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  margin-top: 20rem;
}

.contactInfoContainer {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: 0.1rem solid;
  border-color: #dcdcdc;
  background: #ffffff;
  margin: 2rem auto;
  padding: 0.5rem;
  opacity: 0;
}

.contactInfoContainer.up {
  transform: translateY(-50px);
  transform: translateX(0) translateY(0); /* Reset transform to the default position */
}

/* When the container becomes visible */
.contactInfoContainer.visible {
  opacity: 1;
  transition: all 0.6s ease-out;
}

/* Start hidden and down below */
.hidden {
  opacity: 0;
  transform: translateY(50px); /* Start 50px below */
  transition: all 0.6s ease-out;
}

.contactInfoDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contactInfoDetails p {
  font-size: larger;
}

.contactImage {
  cursor: default;
}

.emailImage {
  height: 2rem;
}

/* FOOTER SECTION */
footer {
  height: 26vh;
  margin: 0 1rem;
}

